<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super gym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="icon" th:href="@{/design-site/free-30-instagram-stories-icons60_122607.ico}"
          href="../static/design-site/free-30-instagram-stories-icons60_122607.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../static/styles/styles.css">
</head>
<body>

<div sec:authorize="isAuthenticated()" th:insert="menu :: header-login-visitor"></div>
<div sec:authorize="!isAuthenticated()" th:insert="sign-up :: header-container"></div>

<h1 class="about-title">About us</h1>
<div class="container-about">
    <div class="about">
        <p> Super gym is a sports family that was born in 2022.<br> We are located in the beautiful city of Kharkiv,
            almost in the
            very center.<br> Our gym is a large assortment of the latest and most modern exercise equipment, a warm
            sauna
            and the
            most comfortable changing rooms.<br> The family includes an always friendly administrator, a highly
            qualified
            team of
            trainers who will find something in common with anyone and help get your body in the best shape in any
            condition.<br>
            Therefore, if you are looking for a sports hall for yourself and would like to get the best result and mood
            from visiting, we
            are waiting for you!</p>
    </div>

    <div th:insert="sign-up :: footer-container"></div>

</div>
</body>
</html>