<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="menu :: head-menu"></head>
<body>

<div sec:authorize="isAuthenticated()" th:insert="menu :: header-login-visitor"></div>
<div sec:authorize="!isAuthenticated()" th:insert="sign-up :: header-container"></div>

<h1 class="about-title">About us</h1>
<div class="container-about">
    <div class="about">
        <p> Super gym is a sports family that was born in 2022.<br> We are located in the beautiful city of Kharkiv,
            almost in the
            very center.<br> Our gym is a large assortment of the latest and most modern exercise equipment, a warm
            sauna
            and the
            most comfortable changing rooms.<br> The family includes an always friendly administrator, a highly
            qualified
            team of
            trainers who will find something in common with anyone and help get your body in the best shape in any
            condition.<br>
            Therefore, if you are looking for a sports hall for yourself and would like to get the best result and mood
            from visiting, we
            are waiting for you!</p>
    </div>

    <div th:insert="sign-up :: footer-container"></div>

</div>
</body>
</html>