<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="menu :: head-menu"></head>
<body>

<div sec:authorize="hasAuthority('OWNER')" th:insert="menu :: header-login-visitor"></div>

<div class="visitors-header">
    <h1>Admins</h1>
</div>

<div class="add-visitor-icon">
    <a sec:authorize="hasAuthority('OWNER')" th:href="@{/admins/create}" class="btn btn-success"> Add admin</a>
</div>

<div class="table-visitors">
    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col" class="pe-5">Name</th>
            <th scope="col" class="pe-5">Surname</th>
            <th scope="col" class="pe-5">Age</th>
            <th scope="col" class="pe-5">Email</th>
            <th scope="col" class="pe-5">Sex</th>
            <th scope="col" class="pe-5">Update</th>
            <th scope="col" class="pe-5">Delete</th>
        </tr>
        </thead>
        <div class="col-sm-2" th:each="admin : ${admins}">
            <tbody>
            <tr>
                <th scope="row" th:text="${admin.name}"></th>
                <td th:text="${admin.surname}"></td>
                <td th:text="${admin.age}"></td>
                <td th:text="${admin.email}"></td>
                <td th:text="${admin.sex}"></td>
                <td>
                    <a sec:authorize="hasAuthority('OWNER')" th:href="@{/admins/update/{id}(id=${admin.id})}"
                       class="btn btn-light"> Update</a>
                </td>
                <td>
                    <button sec:authorize="hasAuthority('OWNER')"
                            type="button"
                            class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#delete"
                            th:attr="onclick=|setAction('@{/admins/{id}(id = ${admin.id})}')|"
                    >Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
</div>

<div class="modal" id="delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete visitor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the admin?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form th:action="@{/admins/{id}}" name="deleteVisitor" th:method="DELETE">
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function setAction(action) {
        document.deleteVisitor.action = action
    }
</script>

<div th:insert="sign-up :: footer-container"></div>

</body>
</html>