<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="menu :: head-menu"></head>
<body>
<div sec:authorize="isAuthenticated()" th:insert="menu :: header-login-visitor"></div>
<div sec:authorize="!isAuthenticated()" th:insert="sign-up :: header-container"></div>

<h1 class="coaches-gym">Coaches super gym</h1>

<div class="coaches-portfolio">
    <div class="coach-prof" th:each="coach : ${coaches}" th:if="${coach.name != 'NONE'}">
        <div class="one-profile-coach">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2 th:text="${coach.name} + ' ' + ${coach.surname}"></h2>
                    <strong class="mb-0" th:text="'Age: ' + ${coach.age}"></strong>
                    <br>
                    <h5 th:text="${coach.description}"></h5>
                </div>
                <div class="container-image">
                    <div class="col-auto d-none d-lg-block">
                        <img th:src="${coach.imageURL}">
                    </div>
                </div>
            </div>
        </div>
        <button class="button-delete" sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#delete"
                th:attr="onclick=|setAction('@{/coaches/{id}(id = ${coach.id})}')|"><img
                th:src="@{/crud-photo/remove.png}" alt="delete">
        </button>
        <div>
            <a sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')" th:href="@{/coaches/update/{id}(id=${coach.id})}"
               class="button-update"><img
                    th:src="@{/crud-photo/edit.png}" alt="update"></a>
        </div>
    </div>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')" class="add-visitor-icon">
    <a th:href="@{/coaches/create}" class="btn btn-dark"> Add coach</a>
</div>

<div sec:authorize="hasAnyAuthority('ADMIN', 'OWNER')" class="modal" id="delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete coach</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the coach?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form th:action="@{/coaches/{id}}" name="deleteVisitor" th:method="DELETE">
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setAction(action) {
        document.deleteVisitor.action = action
    }
</script>

<div th:insert="sign-up :: footer-container"></div>

</body>
</html>