<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="menu :: head-menu"></head>

<body>

<div sec:authorize="isAuthenticated()" th:insert="menu :: header-login-visitor"></div>

<h1 class="registration-header">Locked room</h1>

<div class="container-locked-room">
    <div class="row-lockers" th:each="locked, state : ${allLockedFor}">
        <div class="locker">
            <form name="updateVisitor" th:action="@{/visitors/locked}" th:method="PATCH">
                <input type="hidden" th:value="${state.index+1}" name="numberLocked">
                <input type="hidden" th:value="${visitorId}" name="idVisitor">
                <div th:if="${locked.sex.name == 'MAN'}" class="man-color">
                <button type="submit"><img th:src="${locked.imageURL}" style="background: blue"></button>
                </div>
                <div th:if="${locked.sex.name == 'WOMAN'}" class="woman-color">
                    <button type="submit"><img th:src="${locked.imageURL}" style="background: deeppink"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="sign-up :: footer-container"></div>
</body>
</html>