<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="menu :: head-menu"></head>

<body>

<div sec:authorize="!isAuthenticated()" th:insert="sign-up :: header-container"></div>

<div class="form-sign">
    <main class="form-signin w-100 m-auto">
        <form th:action="@{/login}" th:method="POST">
            <img class="mb-4" th:src="@{/design-site/big-logo.png}" src="../static/design-site/big-logo.png">
            <h1 class="header-login">Please sign in</h1></br>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="username"
                       placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                       placeholder="Password">
                <label for="floatingPassword">Password</label><br>
            </div>

            <div class="checkbox">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
            </div>
            <div class="submit-login">
                <button class="btn btn-dark" type="submit">Sign in</button>
            </div>
        </form>
    </main>
</div>

<div th:insert="sign-up :: footer-container"></div>

</body>
</html>