* {
    /*font-family: 'Inter Tight', sans-serif;*/
    font-family: 'Bungee Spice', cursive;
}

.p-3 .text-bg-dark{
    background: darkslategrey;
}

body {
    background-image: url("../static/modern-home-gym.jpg");
    background-position: center center;
    background-attachment: fixed;
}

.global-name {
    font-family: 'Bungee Spice', cursive;
    align-content: center;
    position: relative;
    font-size: 80px;
    text-align: center;
    object-position: center;
    top: 30px;
    bottom: 30px;
}

main {
    align-content: center;
    position: relative;
    text-align: center;
    top: 50px;
    bottom: 50px;
}

.our-gym {
    position: relative;
    font-size: 60px;
    text-align: center;
    bottom: 50px;
}

.address {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: darkslategrey;
}

.map {
    position: relative;
    text-align: center;
    top:50px;
}

.address-item {
    position: relative;
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

.container-footer {
    position: relative;
    text-align: center;
    font-size: 18px;
    top:50px;
    background: darkslategrey;
}

.nav-item {
    padding-right: 70px;
}

.text-center {
    font-size: 14px;
}

.coaches-gym {
    align-content: center;
    position: relative;
    font-size: 80px;
    text-align: center;
    object-position: center;
    top: 30px;
    bottom: 30px;
}

.coaches-portfolio {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 70px;
}

.col-md-6 {
    background: darkslategrey;
    background-size: 870px 315px;
    position: relative;
    text-align: center;
    width: 696px;
    height: 258px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 3px solid;
    border-radius: 10px;
}

.one-profile-coach {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pricing {
    position: relative;
    font-size: 80px;
    text-align: center;
    top: 50px;
}

.cards {
    position: relative;
    text-align: center;
    top: 100px;
    margin-bottom: 80px;
}

.card {
    text-align: center;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 40px;
    border: 3px solid;
    border-radius: 10px;
    background: cornsilk;
}

.about-title {
    position: relative;
    font-size: 80px;
    text-align: center;
    top: 50px;
}

.about {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    font-size: 30px;
    top: 70px;
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 80px;
    background: #262626;
}

.container-about {
    text-align: center;
}


.form-sign {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 250px;
}

.header-login {
    font-size: 35px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    background: #262626;
    border-radius: 15px;
}

.checkbox {
    background: darkslategrey;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 15px;
}

.registration-header {
    position: relative;
    font-size: 60px;
    text-align: center;
    top: 50px;
}

.registration {
    position: relative;
    top: 100px;
    width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
    font-size: 25px;
}

.name {
    background: #262626;
    border-radius: 15px;
    width: 250px;
}

.submit-registration {
    position: relative;
    top: 15px;
    font-size: 25px;
}

.submit-login {
    position: relative;
    top: 25px;
}