<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="menu :: head-menu"></head>

<body>
<div sec:authorize="hasAuthority('OWNER')" th:insert="menu :: header-login-visitor"></div>

<h1 class="registration-header">Update admin</h1>

<div sec:authorize="hasAuthority('OWNER')" class="registration">
    <form th:action="@{/admins/update}" th:object="${admin}" th:method="PUT">
        <div>
            <input type="hidden" class="form-control" id="Id" th:field="*{id}" required>
        </div>
        <div>
            <label for="firstName" class="name">First name</label>
            <input type="text" class="form-control" id="firstName" pattern="[A-Za-z]{1,32}"
                   title="Name must not contain numbers" th:field="*{name}" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div>
            <label for="lastName" class="name">Last name</label>
            <input type="text" class="form-control" id="lastName" pattern="[A-Za-z]{1,32}"
                   title="Surname must not contain numbers" th:field="*{surname}" required>
            <div class="invalid-feedback">
                Valid last name is required.
            </div>
        </div>
        <div>
            <label for="age" class="name">Age</label>
            <input type="number" class="form-control" id="age" th:field="*{age}" required>
            <p class="error" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">
                Error
            </p>
        </div>
        <div>
            <label for="email" class="name">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
            <div class="invalid-feedback">
                Valid first email is required.
            </div>
        </div>

        <div>
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                   th:value="${T(com.alevel.gym.model.Sex).MAN}" th:field="*{sex}" required>
            <label class="custom-control-label" for="credit">Man</label>
        </div>

        <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                   th:value="${T(com.alevel.gym.model.Sex).WOMAN}" th:field="*{sex}" required>
            <label class="custom-control-label" for="debit">Woman</label>
            <div sec:authorize="hasAuthority('OWNER')" class="submit-registration">
                <button type="submit" class="btn btn-dark">Update admin</button>
            </div>
        </div>
    </form>
</div>


<div th:insert="sign-up :: footer-container"></div>
</body>
</html>