<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super gym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="icon" th:href="@{/design-site/free-30-instagram-stories-icons60_122607.ico}"
          href="../static/design-site/free-30-instagram-stories-icons60_122607.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../static/styles/styles.css">
</head>
<body>
<div th:insert="menu :: header-login-visitor"></div>

<div class="visitors-header">
    <h1>Visitors</h1>
</div>

<div class="add-visitor-icon">
    <a th:href="@{/visitors/create}" class="btn btn-info"> Add visitor</a>
</div>

<div class="table-visitors">
    <table class="table table-sm table-dark">
        <thead>
        <tr>
            <th scope="col" class="pe-5">Name</th>
            <th scope="col" class="pe-5">Surname</th>
            <th scope="col" class="pe-5">Age</th>
            <th scope="col" class="pe-5">Email</th>
            <th scope="col" class="pe-5">Sex</th>
            <th scope="col" class="pe-5">Update</th>
            <th scope="col" class="pe-5">Delete</th>
            <th scope="col" class="pe-5">LR</th>
        </tr>
        </thead>
        <div class="col-sm-2" th:each="visitor : ${visitors}">
            <tbody>
            <tr>
                <th scope="row" th:text="${visitor.name}"></th>
                <td th:text="${visitor.surname}"></td>
                <td th:text="${visitor.age}"></td>
                <td th:text="${visitor.email}"></td>
                <td th:text="${visitor.sex}"></td>
                <td>
                    <a th:href="@{/visitors/update/{id}(id=${visitor.id})}" class="btn btn-light"> Update</a>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#delete"
                            th:attr="onclick=|setAction('@{/visitors/{id}(id = ${visitor.id})}')|"
                    >Delete
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-toggle="modal"
                            data-bs-target="#confirm"
                            th:attr="onclick=|setAction('@{/visitors/{id}(id = ${visitor.id})}')|"
                    >Lock room
                    </button>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
</div>

<div class="modal" id="delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete visitor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the visitor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form th:action="@{/visitors/{id}}" name="deleteVisitor" th:method="DELETE">
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setAction(action) {
        document.deleteVisitor.action = action
    }
</script>

<div th:insert="sign-up :: footer-container"></div>

</body>
</html>