<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super gym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="icon" th:href="@{/design-site/free-30-instagram-stories-icons60_122607.ico}"
          href="../static/design-site/free-30-instagram-stories-icons60_122607.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../static/styles/styles.css">
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container-header">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><img th:src="@{/design-site/free-30-instagram-stories-icons60_122607.ico}"
                         src="../static/design-site/free-30-instagram-stories-icons60_122607.ico"></li>
                <li><a th:href="@{/}" href="menu.html" class="nav-link px-2 text-secondary">Super gym</a></li>
                <li><a th:href="@{/coaches}" href="coaches.html" class="nav-link px-2 text-white">Coaches</a></li>
                <li><a th:href="@{/pricing}" href="pricing.html" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a th:href="@{/about}" href="about.html" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div class="button-visitors">
                <button type="button" onclick="window.location.href = 'visitors.html'"
                        class="btn btn-info">Visitors
                </button>
            </div>

            <div class="button-admins">
                <button type="button" onclick="window.location.href = 'admins.html'"
                        class="btn btn-success">Admins
                </button>
            </div>

            <div class="header-for-login-user">
                <h6
                        class="example">example@gmail.com
                </h6>
                <button type="button" onclick="window.location.href = 'login.html'"
                        class="btn btn-outline-light me-2">Log out
                </button>
            </div>
        </div>
    </div>
</header>

<div th:insert="sign-up :: footer-container"></div>

</body>
</html>